<section class="Productos">
    <article>
        <header>
            <h2>Te Invitamos a Explorar</h2>
            <h1>Sección de los libros disponibles</h1>
        </header>
        <p>Entre los más pupolares estan: <br>{{libro}} <br>Comedia  <br>Suspenso <br> Todos los libros son fantasticos </p>   
        <button>INVENTARIO</button>
    </article> 
    <ul>
        <li><img src="https://www.planetadelibros.cl/usuaris/libros/fotos/289/m_libros/portada_trilogia-a-todos-los-chicos-de-los-que-me-enamore-pack_jenny-han_201811051133.jpg" alt="">
            <p id="articulo">{{getProducto libro1}}</p>
            <p id="precio">$ {{ precio1 }}</p>
            </li>
        <li><img src="https://1.bp.blogspot.com/-xlgn9Dgsg3M/WLXcIZLGPqI/AAAAAAAAAUA/fXQaG1bgXxIF7r2KNcQdwyMi2lo7vjWnQCLcB/s280/4515578_640px.jpg" alt="">
            <p id="articulo">{{getProducto libro2}} </p>
            <p id="precio">$ {{precio2}}</p>
            </li>
        <li><img src="https://www.popularlibros.com/imagenes_grandes/9788490/978849060961.JPG" alt="">
            <p id="articulo">{{getProducto libro3}}</p>
            <p id="precio">$ {{precio3}}</p>
            </li>
    </ul>
    
</section>